@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,500;1,600&display=swap');
*{
    margin: 0px;
    padding: 0px;
	box-sizing: border-box;
}
body{
	background-color: #1F2023;
}
/* Header design */
header{
	background-color:#1f2023;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#logo{
	padding-left: 5%;
}
#navigation{
	padding-right: 5%;
}
#navigation ul{
	display: flex;
	list-style-type: none;
}
#navigation li, #navigation a{
	padding-left: 20px;
	font-family: "Roboto Mono";
	font-weight: 600;
	color: #ecf0f1;
	text-decoration: none;
	transition: all 0.15s ease;
}
#navigation a:hover{
	color: #1FC600;
}
#navigation .selected a{
	color:#1FC600;
}
/* Footer Edit */
.footer{
    font-family: "Roboto Mono";
    font-weight: 100;
    width:100%;
    background-color:rgb(31, 32, 35);
    color: #5e5e5e;
    text-align: center;
    margin-top:auto;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
}
#desno, #desno, #sredina{
	display: flex;
	justify-content: center;
	align-items: center;
}
#desno p, #levo p, #sredina p{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#sredina img{
	height: 50px;
}
#copyright{
	font-size: 25px;
	justify-content: center;
	text-align: center;
}
/* Social Media */
.dugmeSocial{
	display: flex;
	margin-left: 60px;
	text-align: center;
}
.ikonica{
	font-size: 30px;
}
.dugmeSocial a:hover, .contentVert a:hover{
	color:#1FC600;
	transition: all 0.15s ease;
}
.dugmeSocial a{
	color: #5E5E5E;
	transition: all 0.15s ease;
}
/* Content Sajta */
.telo{
	background-color:#1f2023;
	border: 1px solid #ccc;
    justify-content: center;
    align-items: center;
}
.contentLD{
	margin: 20px 0px;
	display: flex;    
	justify-content: center;
    align-items: center;
}
.sadrzaj{
	display: flex;
    width: 80%;
	align-items: center;
}
.levo, .desno{
	flex: 1;
	text-align: left;
}
.desno{
	text-align: right;
}
.contentVert{
    text-align: center;
    padding: 20px;
    margin: 10px;
	border: 2px dashed #ccc;
}
.pozadina1 {
    background-image: url("../images/djlanding.jpg"); 
	width: 100%;
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0;
}
.pozadina2 {
    background-image: url("../images/festlanding.jpg"); 
	width: 100%;
    background-size: cover;
	background-position: 25% 80%;
    padding: 250px 0;
	filter: grayscale(1);
}
.pozadina3 {
    background-image: url("../images/dplanding.jpg"); 
	width: 100%;
    background-size: cover;
	background-position: 10% 40%;
    padding: 200px 0;
	filter: grayscale(1);
}
.telo h1{
	font-family: "Roboto Mono";
	font-weight: 800;
	font-size: 50px;
	color: #1FC600;
	text-align: center;
}
.telo h2{
	font-family: "Roboto Mono";
	font-weight: 600;
	color: #1FC600;
	text-align: center;
}
.telo h3{
	font-family: "Roboto Mono";
	font-weight: 500;
	color: #1FC600;
	text-align: center;
}
.telo h4{
	font-family: "Roboto Mono";
	font-weight: 500;
	color: #1FC600;
	text-align: center;
}
.telo p{
	font-family: "Roboto Mono";
	font-weight: 300;
	color: white;
	text-align: center;
	font-size: 18px;
}
.telo 
#lokacijaSlika{
	align-items: center;
	justify-content: center;
	background-image: url("../images/lokacija.jpg"); 
	height: 275px;
	background-repeat: no-repeat;
}
/* Fowma :3 pozdrav za pregledace :wave: */
.forma{
	width: 600px;
	margin: 0px auto;
}
.forma form{
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	margin-bottom: 10px;
}
.forma label{
	text-align: center;
	font-family: "Roboto Mono";
	font-weight: 300;
	font-size: 20px;
	color: white;
}
.forma input{
	font-family: "Roboto Mono";
	text-align: center;
	width: 75%;
	margin: 0px auto;
	height: 25px;
	background-color: #36373d;
	color: white;
	border: 0px solid white;
}
.forma input[type="submit"]:hover{
	box-shadow: 0px 0px 4px #1FC600;
}
.forma input[type="submit"]{
	width: 20%;
	transition: 0.2s;
}
.forma select{
	text-align: center;
	font-weight: 600;
	height: 25px;
	margin: 0px auto;
	color: #1FC600;
	background-color: #36373d;
}

/* Tabele */
.tabela{
	font-family: "Roboto Mono";
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tabela table{
	margin: 20px;
	padding: 25px;
	background-color: #242529;
	width: 600px;
}
.tabela table:hover{
	background-color: #36373d;
	transform: scale(1.10, 1.10);
	transition: all 0.15s ease;
}
.tabela table th{
	color: #1FC600;
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 20px;
}
.tabela td{
	font-weight: 300;
}

/* Dugme */
.fakeDugme a{
	text-decoration: none;
	color: white;
	padding: 10px;
	border-radius: 5px;
	background-color: #36373D;
}
.fakeDugme{
	font-size: 18px;
	font-family: "Roboto Mono";
	margin-top: 20px;
	margin-bottom: 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.1s ease-out;
}
.fakeDugme a:hover{
	border-bottom: 3px solid #1FC600;
}
.fakeDugme a:active{
	background-color: white;
	color: black;
	border-bottom: 3px solid #1FC600;
}
/* Case specific*/
#cena{
	padding-top: 20px;
	text-align: center;
	font-weight: 600;
}
.landingPortret{
	border: 2px dashed white;
	border-radius: 15px;
	width: 50%;
}
#picJa{
	width: 400px;
	border: 2px dashed white;
	border-radius: 15px;
}
.outline{
	text-shadow: 
    1px 0 0 black, 
    0 1px 0 black, 
    -1px 0 0 black,
    0 -1px 0 black;
}
.uSlici{
	font-size: 60px;
}
#belo{
	color: white;
	text-decoration: underline;
}
hr{
	margin: 20px 0px;
	border: 2px dashed white;
}
/* O meni Slike Cont */
.contentLSD{
	margin-bottom: 100px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: row;
}
.slikaO img{
	width: 600px;
	border-radius: 15px;
	border: 2px solid white;
	opacity: 0;
	animation: fade 0.5s forwards;
}
.slikaO{
	margin: 0px auto;
}
/* Galerija */
.galerija{
	width: 80%;
	height: 350px;
	display: flex;
	margin: 0px auto;
}
.slika{
	display: flex;
	color: rgba(0,0,0,0);
	justify-content: center;
	align-items: center;
	margin: 0px auto;
	background-color: yellow;
	width: 470px;
	height: 300px;
	filter: grayscale(1);
}
.slika h4{
	visibility: hidden;
	font-size: 20px;
	filter: grayscale(0);
}
.slika:hover > h4{
	visibility: visible;
	filter: grayscale(0);
	transform: scale(1.2, 1.2);
	transition: all 0.15s ease;
}
.slika:hover{
	visibility: visible;
	filter: grayscale(0);
	transform: scale(1.05, 1.05);
	transition: all 0.2s ease;
}
.slika h4{
	text-shadow:  1px 1px white;
}
.sPrva{
	background-image: url("../images/kerosel.jpg");
}
.sDruga{
	background-image: url("../images/kerosel.jpg");
	background-position: 10% 0%;
}
.sTreca{
	background-image: url("../images/kerosel.jpg");
	background-position: 20% 0%;
}
.sCetvrta{
	background-image: url("../images/kerosel.jpg");
	background-position: 30% 0%;
}
.sPeta{
	background-image: url("../images/kerosel.jpg");
	background-position: 40% 0%;
}
.sPeta{
	background-image: url("../images/kerosel.jpg");
	background-position: 50% 0%;
}
.sSest{
	background-image: url("../images/kerosel.jpg");
	background-position: 60% 0%;
}
.xPrva{
	background-image: url("../images/kerosel.jpg");
	background-position: 70% 0%;
}
.xDruga{
	background-image: url("../images/kerosel.jpg");
	background-position: 80% 0%;
}
.xTreca{
	background-image: url("../images/kerosel.jpg");
	background-position: 90% 0%;
}
.xCetvrta{
	background-image: url("../images/kerosel.jpg");
	background-position: 100% 0%;
}
.xPeta{
	background-image: url("../images/kerosel.jpg");
	background-position: 40% 0%;
}
.divider{
	margin-bottom: 25px;
}

/* animacija test */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}